@font-face {
    font-family: Baloo Thambi;
    src: url(./fonts/BalooThambi-Regular.ttf)
}

/* nice scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #00000028;
    border-radius: 3px;
}


body {
    margin: 0px;
    padding: 20px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    overflow: hidden;
    background-color: #3271B6;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav {
    width: 35%;
    height: 100%;
    border-radius: 10px;
    background: #194575;
    box-shadow: -2px -2px 10px 0px #001D3D inset, 2px 2px 4px 2px #002D5E inset;
}

main {
    width: 65%;
    height: 100%;
    border-radius: 10px;
    background: #194575;
    box-shadow: -2px -2px 10px 0px #001D3D inset, 2px 2px 4px 2px #002D5E inset;
}

nav .BtnsNav {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav .BtnsNav button {
    height: 65%;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #194575;
    box-shadow: -2px -2px 4px 2px #002D5E, 2px 2px 4px 2px #002D5E;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Baloo Thambi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
}

nav .BtnsNav button:hover {
    filter: brightness(90%);
}

nav .BtnsNav button:active {
    box-shadow: -1px -1px 4px 2px #002D5E inset, 1px 1px 4px 2px #002D5E inset;
}

nav .ItensNav {
    width: 100%;
    height: calc(100% - 70px);
    background-color: red;
    border-radius: 10px;
    background: #194575;
    box-shadow: -2px -2px 10px 0px #001D3D inset, 2px 2px 4px 2px #002D5E inset;
}

.TopMain {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MainMain {
    width: 100%;
    height: calc(100% - 85px);
}

.LeftTop {
    width: 60%;
    height: calc(100% - 30px);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.RightTop {
    width: 40%;
    height: calc(100% - 30px);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RightTop .Box {
    width: 35%;
    height: 100%;
    border-radius: 5px;
    background: #194575;
    box-shadow: 2px 2px 4px 2px #002D5E, -2px -2px 4px 2px #002D5E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    color: #FFF;
    font-family: "Baloo Thambi";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.RightTop .Box button {
    border-radius: 2.5px;
    background: #194575;
    box-shadow: -1px -1px 4px 2px #002D5E inset, 1px 1px 4px 2px #002D5E inset;
    width: 40px;
    height: 40px;
    border: none;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Baloo Thambi";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RightTop .Box button:hover {
    filter: brightness(90%);
}

.RightTop .Box button:active {
    box-shadow: -1px -1px 4px 2px #002D5E, 1px 1px 4px 2px #002D5E;
}


.MoneyDisplay {
    width: 40%;
    height: 85%;
    border-radius: 5px;
    background: #194575;
    box-shadow: 2px 2px 4px 2px #002D5E, -2px -2px 4px 2px #002D5E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Baloo Thambi";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 5px;
}

.LevelDisplay {
    width: 40%;
    height: 85%;
    border-radius: 5px;
    background: #194575;
    box-shadow: 2px 2px 4px 2px #002D5E, -2px -2px 4px 2px #002D5E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Baloo Thambi";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.MainMain {
    display: flex;
    flex-direction: row;
}

.MainMain .LeftMain {
    height: calc(100% - 40px);
    width: 35%;
    padding: 20px;
}

.MainMain .RigthMain {
    height: calc(100% - 40px);
    width: 65%;
    padding: 20px;
}

.CardSearh {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #194575;
    box-shadow: 2px 2px 4px 2px #002D5E, -2px -2px 4px 2px #002D5E;
}

.CardItem {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #194575;
    box-shadow: 2px 2px 4px 2px #002D5E, -2px -2px 4px 2px #002D5E;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.CardItem progress {
    width: 90%;
    height: 30px;
    margin-bottom: 15px;
}

.imageTesoura {
    width: 100%;
    height: 45%;
}

.Atributos {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Baloo Thambi";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.FotoItenAtual {
    max-width: 90%;
    max-height: 90%;
    min-width: 90%;
    align-self: center;
    justify-self: center;
    object-fit: contain;
}

.NomeItem {
    min-width: calc(100% - 80px);
}

.NomeItemDiv {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.BtnDiv {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Miner {
    width: 100%;

}

.LevelDisplay {
    gap: 5px;
}

.money-text {
    position: absolute;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 50;

}

.hidden {
    display: none;
}

.botoonItem {
    width: 100%;
    min-height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Item {
    width: 100%;
    min-height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Baloo Thambi";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popup span i {
    padding-right: 5px;
}

.popup span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.placeholderquebra {
    width: 14px;
    padding-right: 5px;
    filter: invert(100%);
}

.DivLoja {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
}

.DivMinerador {
    height: 64px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #002D5E;
}

.DivMC {
    height: 100%;
    width: 60%;

    color: #FFF;
    font-family: "Baloo Thambi";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.DivMR {
    height: 100%;
    width: 20%;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Baloo Thambi";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}